{%  extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ "/static/css/staff.css" }}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ "/static/js/staff.js" }}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <h1 class="animated bounceInLeft">所有桌子列表</h1>
    <div class="row">
        {% for t in tables %}
            <div class="animated plus row-content col-lg-2 col-sm-4 col-xs-12 text-center meal-list table-list">
                <a href="table_detail?id={{ t.pk }}" >
                <div style="text-decoration: none; color: #ffffff">
                    <div class="text-bold text-left">桌子编号:{{ t.table_no }}</div>
                    <div class="text-left">&nbsp;</div>
                    <div class="text-bold text-left">可容纳:{{ t.size }}人</div>
                    <div class="singel-line">{{ t.info }}</div>
                </div>
                </a>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}