#div1{float:left;position:relative;height:340px;width:400px;}
#div1 a{overflow:hidden;position:absolute;top:0px;left:0px;color: #09f;max-width:8em;font-weight:bold;padding:3px 6px;text-shadow:0 0 1px #fff;text-overflow:ellipsis;white-space:nowrap;}
#div1 a:hover{border:1px solid #eee;background:#000;border-radius:5px;text-shadow:0 0 0px #fff;}
