{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% for app in app_list %}
        <h4 class="animated bounceInLeft " style="width: 100%; color: #ffffff">
            <a style="color: #202020" href="{{ app.app_url }}"  title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </h4>
        <div class="row">
        {% for model in app.models %}
            <div class="animated pulse row-content col-lg-2 col-sm-4 col-xs-12 text-center meal-list" style="margin-top: 1%">
            <span class="spin"><img src="http://www.myooms.com:8000/static/img/spin/1.png"></span>
            <div class="remove-meal btn btn-danger btn-xs "><a href="{{ model.add_url }}" class="addlink" style="color: #ffffff">{% trans 'Add' %}</a></div>
            <div class="row">

                <a href="{{ model.admin_url }}" class="text-bold text-center singel-line text-success">{{ model.name }}</a>

                <a href="{{ model.admin_url }}" class="col-md-12 btn btn-sm btn-green" style="color: #ffffff">{% trans 'Change' %}</a>

            </div>
          </div>
        {% endfor %}
        </div>

    {% endfor %}
{% endblock %}
