{%  extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ "/static/css/index.css" }}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ "/static/js/index.js" }}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <h1 class="animated bounceInLeft">作者</h1>
    <div class="text-muted">武汉大学2013级 计科三班 2013301500100 秦贤康</div>
    <fieldset style="border:1px solid #B5B8C8;padding:10px;margin-bottom:10px;display:block;border-bottom-color:Red; border-left-color:Green; border-right-color:Blue; border-top-color:Purple; text-decoration:none;">
        <legend class="animated bounceInLeft" style="width: inherit">源代码</legend>
        <div class="text-muted"><a href="https://github.com/halfopen/OlineOrderMealSystem">https://github.com/halfopen/OlineOrderMealSystem</a> </div>
    </fieldset>
    <fieldset style="border:1px solid #B5B8C8;padding:10px;margin-bottom:10px;display:block;border-bottom-color:Red; border-left-color:Green; border-right-color:Blue; border-top-color:Purple; text-decoration:none;">
        <legend class="animated bounceInLeft" style="width: inherit">作者博客</legend>
        <div class="text-muted"><a href="http://blog.csdn.net/half_open/article/details/50357313">http://blog.csdn.net/half_open/article/details/50357313</a> </div>
    </fieldset>

</div>

{% endblock %}