{%  extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ "/static/css/index.css" }}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ "/static/js/index.js" }}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <h1 class="animated bounceInLeft">欢迎使用订餐系统!</h1>

   <div class="row">
      <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide">
         <a href="staff/add/"> <img style="width: 33%" src="{{ "static/img/article.png"}}"></a>
          <div>添加订单</div>
      </div>
       <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide" style="">
        <a href="free_table/"><img style="width: 33%" src="{{ "static/img/local.png"}}"></a>
         <div>空闲查询</div>
      </div>
       <div class="row-content animated swing col-lg-2 col-sm-4 col-xs-12 text-center index-guide" style="">
        <a href="staff/tables"><img style="width: 33%" src="{{ "static/img/hummingbird.png"}}"></a>
         <div>所有桌子</div>
      </div>
       <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide" style="">
        <a href="staff/"><img style="width: 33%" src="{{ "static/img/analytics.png"}}"></a>
         <div>所有订单</div>
      </div>
      <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide" >
        <a href="admin/" > <img style="width: 33%" src="{{ "static/img/browser-window.png"}}"></a>
          <div>进入后台</div>
      </div>
       <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide">
         <a href="author/"><img style="width: 33%" src="{{ "static/img/panda.png"}}"></a>
          <div>作者</div>
      </div>
       <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide" style="">
         <a href="about/"><img style="width: 33%" src="{{ "static/img/chain-link.png"}}"></a>
          <div>关于</div>
      </div>
       <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide" style="">
        <a class="export_excel" href="export_excel"><img style="width: 33%" src="{{ "static/img/rank-up.png"}}"></a>
         <div>表格导出</div>
      </div>
       <div class="animated swing row-content col-lg-2 col-sm-4 col-xs-12 text-center index-guide" style="">
        <a href="suggestion/"><img style="width: 33%" src="{{ "static/img/penguin.png"}}"></a>
         <div>反馈</div>
      </div>
   </div><br>
</div>

{% endblock %}
